{{>header}}
<body>
    <div class="container">
          {{{body}}}
    </div>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="useToggler.js"></script>
    <script src="eventforBTN.js"></script>
 
</body>